@media (max-width: 1000px) {
    .row {
        width: 110%;
    }
}


@media (max-width: 585px) {
    .cardFriend{
        height: 200px;
    }
}

.col-4{
    padding-top: 10px;
    padding-bottom: 20px;
}