.home{
    margin: 0;
}
.left,.right{
    width: 25%;
    height: 600px;
    float: left;
    border:1px solid;
    box-sizing: border-box;
}
.mid{
    width: calc(50% - 20px);
    height: 600px;
    float: left;
    border: 1px solid;
    box-sizing: border-box;
    margin: 0 10px;
}
.col-6{
    top: 60px;

}