/*.form-control {*/
/*    margin-left: 5px;*/
/*    margin-right: 400px;*/
/*    background-color: #d5e5fd;*/
/*    border-radius: 10px;*/
/*}*/

.addComment {
    background: #007bff;
    position: relative;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: 1px ;
    color: white;
}

.commentProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.commentWrapper {
    margin-top: 5px;
    border: 1px solid #e5e2e2;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px #e3e3e3;
}

.commentTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.commentTopLeft {
    display: flex;
    align-items: center;
}

.col-10 comment {
    margin-left: 15px;
    background-color: #d5e5fd;
    border-radius: 20px;
}
.body-user-comment-body{
    padding: 10px !important;
    background-color: #d5e5fd;
    border-radius: 15px;
    margin-left: 17px;
    margin-right: -90px;
}

.col-1 comment{
    margin-left: 25px !important;
}

.commentWrapper-right{
    margin-left: 25px !important;
}


@media (max-width: 800px) {
    .body-user-comment-body{
        width: 120%;
    }
    #addCommentAvt{
        margin-bottom: 5px;
        margin-right: 150px;
    }
}
