.addPost{
    color: white;
    background: #007bff;
    position: relative;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #e5e2e2;
}

.form-control1 {
    background-color: #d5e5fd;
    margin-left: 5px;
    margin-right: 400px;
    border-radius: 10px;
}

.post-group{
    margin-bottom: 1%;
    margin-top: 10px;
    border: 1px solid #e5e2e2;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 1px 1px #e3e3e3;
}

.select {
    margin-left: 15%;
    text-transform: none;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

/*.addPost{*/
/*    cursor: pointer;*/
/*    margin-top: -15%;*/
/*    margin-left: 30%;*/
/*    padding: 6px 6px;*/
/*    border: 1px solid*/
/*}*/

input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;

}

.file-upload{
    margin-left: 5%;
}

@media (max-width: 1480px) {
    .addPost{
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 1000px) {
    .post-group{
        width: 150%;
    }

    .addPost{
        margin-top: 20px;
    }
}


@media (max-width: 756px) {
    .addPost{
        margin-left: 0;
        margin-top: 20px;
    }

    .post-group{
        width: 150%;
    }
    .select{
        padding: 0;
        height: 40px;
        padding-left: 20px;
    }


}

