
body {
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hove1:hover{
    background: silver;
}
.hove2:hover{
    background: darkgray;
}
